.card {
    /* background-color: #FAF9F6; */
    min-width: 200px;
    min-height: 300px;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    border: 1px solid black;
    /* padding: 20px; */
    height: fit-content;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr auto;
}

.projectimg {
    width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border: none;
    outline: 0;
    display: block;
}

.card-title {
    color: black;
    font-size: 20px;
    margin: 0;
}

.card-date {
    color: var(--secondary-color);
    margin: 0;
}

.card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
}

.gameimg-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    color: #999;
    font-size: 14px;
    height: 180px;
}