main {
    padding: 0px 22px;
}

.games-devlogs-shell {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
}

.inter>a {
    height: max-content;
    text-decoration: none;
}

.display {
    flex: 1 1 auto;
    min-height: 0;
    padding: 48px 0px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-auto-rows: auto;
    justify-content: center;
    gap: 16px;
    width: 100%;
}